* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$darkblue1:rgb(22,40,57);
$lightblue1:rgb(117,179,166);
$lightorange1:rgb(253,164,86);
$darkorange1:rgb(254,100,65);
$red1:rgb(197,31,30);

@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('http://fonts.cdnfonts.com/css/samsung-sharp-sans');
@import url('http://fonts.cdnfonts.com/css/samsungone');




$orangeColor: #f76b2a;
$greenColor: #009444;
$hoverOrangeColor: #f5814b;
$backgroundColor: #f9f0ed;
$imageBorderOrangeColor: #ffbea4;
$redColor: #e7353b;
$appleColor:#dd4a4a;
$orangeColor2: #f3925f;
$redAppleColor:#80101c;
$plumColor:#9ba4c5;
$peachColor:#d38b27;
$pearColor:#a6ab8d;
$FooterColor:#0f1c25;

.page{
    font-family: 'Samsung Sharp Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .productdisplay{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        max-width: 1920px;
        min-width: 1024px;
        .mainProduct{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;
        }

        // ------------------------------ recomended
        .recomended{
            margin-top: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 1920px;
            min-width: 1024px;


            .recomendedTop{
                font-size: 3rem;
                color:$orangeColor;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 95%;
                margin: 1rem;
                border-bottom: $FooterColor solid 0.2rem;
            }

            .cards{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin-bottom: 2rem;
                max-width: 1920px;
                min-width: 1200px;


               
            }

        }
}
}