* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$orangeColor: #f76b2a;
$greenColor: #009444;
$hoverOrangeColor: #f5814b;
$backgroundColor: #f9f0ed;
$imageBorderOrangeColor: #ffbea4;
$redColor: #e7353b;
$appleColor:#dd4a4a;
$orangeColor2: #f3925f;
$redAppleColor:#80101c;
$plumColor:#9ba4c5;
$peachColor:#d38b27;
$pearColor:#a6ab8d;
$FooterColor:#0f1c25;

.productDesc{
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: $greenColor solid 0.2rem;
    border-left: $greenColor solid 0.2rem;
    width: 84%;


    .images{
        background: $imageBorderOrangeColor;
        border-radius: 40px;
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        .mainImage{
            border-radius: 40px;
            margin-bottom:0.5rem;
            max-width: 24rem;
            min-width: 18rem;
            cursor: pointer;
            
        }
        // .mainImage:hover{


        // }

        .otherImages{
            width: 100%;
            border-top: $greenColor solid 0.2rem;
            display: flex;
            flex-direction: row;
            padding-top: 0.4rem;

            img{
                cursor: pointer;
                border-radius: 20px;
                margin: 0 0.5rem;
                max-width: 8rem;

            }
            

        }
    }
    .description{
        position: relative;
        
        

        padding-left: 1rem;
        // background: orange;
        h1{
            margin: 1rem 0;
            padding-bottom: 0.2rem;
            border-bottom: $greenColor solid 0.2rem;
            color:$orangeColor;
        }
        p{
            font-size: 1.5rem;
        }
        label{
            font-size: 1.5rem;
        }

        h2{
            margin: 2.5rem 0;
            font-size: 3rem;
        }
        .amountCart{
            margin-top: 3rem;
            display: flex;
            flex-direction: row;


            input{
                border-color: $orangeColor;
                border-radius: 100px;
                // background-color: $lightorange1;
                // color: white;
                height: 2rem;
                font-size: 1rem;
                width: 4rem;
                margin: 0 0.5rem;
                padding: 4px 10px;
            }


            #addtocart{
                margin: 0 0.5rem;
            }
            button{
                font-size: 1.5rem;
                border-radius: 100px;
                height: 2rem;
                // font-weight: bold;
                padding: 4px 16px;
                background-color:$orangeColor;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                margin: 0 0.01rem;
                color:white;

            }
            button:hover {
                background-color: $hoverOrangeColor;
                color:white;
            } 
        }


        .favoriteHeart{
            position: absolute;
            bottom:1rem;
        }
        [for="heart"]{
            color: #aab8c2;
            cursor: pointer;
            font-size: 2rem;
            align-self: center;  
            transition: color 0.2s ease-in-out;
        }
        [for="heart"]:hover {
            color: grey;
        }
        [for="heart"]::selection {
            color: none;
            background: transparent;
          }
          
          
          [id="heart"]:checked + label {
            color: rgb(0,148,68);
            will-change: font-size;
            animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
          }
          #heart{
            display: none;
          }
          
          
          
          


        #favorite{
                // margin-top: 3rem;
                // width: 6rem;
                // margin-top: 5rem;
                height: 2rem;
                font-weight: bold;
                color: black;
                padding: 2px 9px;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                // margin-bottom: 3.5rem;
        }

        @keyframes heart {0%, 17.5% {font-size: 0;}}
        #favorite:hover {
            color: rgb(0,148,68);
        }
    }
}
