@import '../ScssVariables.scss';

.TWLIcontainer {
   .components {
      padding: 640px 0 100px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      width: 1400px;
      align-items: center;
   
      img {
         width: 600px;
      }
   
      .text {
         width: 600px;
         max-width: 100%;
         padding: 0 10px;
      
         h4 {
            font-family: 'SamsungOne', sans-serif;
            font-size: 20px;
            color: $orangeColor2;
            letter-spacing: 1px;
            font-weight: 400;
            margin-bottom: 10px;
         }
      
         h1 {
            font-family: 'Samsung Sharp Sans', sans-serif;
            font-size: 55px;
            color: $orangeColor;
            font-weight: 700;
            margin-bottom: 20px;
         }
      
         p {
            font-family: 'Fredoka', sans-serif;
            font-size: 16px;
            color: #777;
            line-height: 30px;
            margin-bottom: 35px;
            span {
               font-family: 'Fredoka', sans-serif;
            }
         }
      }
   
      .componentBtns{
         .btn {
            padding: 20px 32px;
            margin-right: 10px;
            color: #111;
            font-size: 16px;
            font-weight: bold;
            background: white;
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
            outline: none;
            text-decoration: none;
      
            &:hover {
               color: white;
               background-color: $greenColor;
               transition: 0.3s;
               cursor: pointer;
            }
         }
      
         .moreStyle {
            background: $hoverOrangeColor;
            color: white;
         }
      }
   }
}

